.carra-main-title {
  font-weight: 600;
  font-size: 45px !important;
  font-family: "playfair-display";
}

.carra-main-subtitle {
  font-weight: 600;
  font-size: 28.13px;
  color: #a98a6f;
}

.carra-subsection {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.carra-section-titles {
  font-weight: 600;
  font-size: 28.13px;
  color: #000000;
}

.lets-connect-btn .wp-block-button__link {
  border-radius: 0px;
  border: 2px solid transparent;
  transition: background 0.3s ease;
}

.lets-connect-btn .wp-block-button__link:hover {
  border: 2px solid black;
  color: black;
  background: none !important;
}

.carra-buttons-margin {
  margin-top: 1rem;
}

.carra-divider {
  width: 10rem !important;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.carra-divider-subheading {
  border-top: 1px solid !important;
  width: 10rem !important;
  background-color: #000000 !important;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.carra-subsection-subheadings {
  font-weight: 600;
  font-size: 17.57px;
}

.btn-margin-top {
  margin-top: 1rem !important;
}

.carra-margin-adjustor {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.wpcf7-form input,
.wpcf7-form textarea {
  background: none;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

.wpcf7-form textarea {
  resize: none;
}

.wpcf7-submit {
  background: #000000 !important;
  color: white;
}
